/* ヘッダー部 */
header {
    background-color: #1e90ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #e0ffff;
    font-family: sans-serif;
    font-size: 15px
}

header li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

.logo-and-search {
    float: left;
    margin-left: 20px;
}

#search-form {
    background-color: white;
    width:250px;
    height: 25px;
    border: 1px #191970 solid;
    border-radius: 10px;
}
#search-form input {
    vertical-align: middle;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
#search-input {
    border: none;
    width: 220px;
    padding-left: 10px;
    font-size: 15px;
}

#search-submit {
    width: 30px;
    border: none;
    background-image: url("/assets/images/search.png");
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

/* ドロップダウンメニュー */
.drop-btn {
    background-color: #191970;
    color: #e0ffff;
    /* padding: 16px; */
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    /* position: relative; */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* フッター部 */
footer {
	margin-top: 30px;
	background-color: #e0ffff;
	padding: 20px;
	height: 100px;
}